// Colors
$strang-colors: (
	html: #f6f6f6,
	body: transparent,
	font: #333,
	
	brand1: #DED9D1,
	brand2: #8B867D,
	brand3: #6C719E
);

// Typography
$strang-fonts: (
	base: 16,
	line: 26,
	
	size1: 38,
	size2: 32,
	size3: 26,
	size4: 21,
	size5: 18,
	size6: 14
);

// Grid
$strang-grids: (
	width: 1180px,
	gutter: 3em,
	
	breakpoints: (
		column: 481px,
		mq1-column: 769px,
		mq2-column: 1025,
		mq3-column: 1200px
	),
	
	percentages: ( 100, 90, 80, 75, 70, 66.666, 60, 50, 40, 33.333, 30, 25, 20, 10 )
);


// Sprites
$logo-spacing: 2px;
//@import "logo/*.png";

// Setup Sanitize.
$html-background-color: map-get( $strang-colors, html );
$root-font-family: Georgia, "Times New Roman", serif;
$root-font-size: map-get( $strang-fonts, base ) * 1px;
$root-line-height: map-get( $strang-fonts, line ) / map-get( $strang-fonts, base );