/*--- IE6-7 ---*/
.oldie .wrapper {
  width: 960px;
}
.oldie .grids {
  margin-left: 0;
}
.oldie .grids > * {
  padding: 0;
  margin-left: 5%;
}
.oldie .grids > *:first-child {
  margin-left: 0;
}

.mq1-col-100 {
  width: 100%;
}

.mq1-col-90 {
  width: 90%;
}

.mq1-col-80 {
  width: 80%;
}

.mq1-col-75 {
  width: 75%;
}

.mq1-col-70 {
  width: 70%;
}

.mq1-col-60 {
  width: 60%;
}

.mq1-col-50 {
  width: 50%;
}

.mq1-col-40 {
  width: 40%;
}

.mq1-col-30 {
  width: 30%;
}

.mq1-col-25 {
  width: 25%;
}

.mq1-col-20 {
  width: 20%;
}

.mq1-col-10 {
  width: 10%;
}

.mq1-col-66 {
  width: 66.666%;
}

.mq1-col-33 {
  width: 33.333%;
}

.mq1-col-show {
  display: block;
}

.mq1-col-hide {
  display: none;
}

.mq2-col-100 {
  width: 100%;
}

.mq2-col-90 {
  width: 90%;
}

.mq2-col-80 {
  width: 80%;
}

.mq2-col-75 {
  width: 75%;
}

.mq2-col-70 {
  width: 70%;
}

.mq2-col-60 {
  width: 60%;
}

.mq2-col-50 {
  width: 50%;
}

.mq2-col-40 {
  width: 40%;
}

.mq2-col-30 {
  width: 30%;
}

.mq2-col-25 {
  width: 25%;
}

.mq2-col-20 {
  width: 20%;
}

.mq2-col-10 {
  width: 10%;
}

.mq2-col-66 {
  width: 66.666%;
}

.mq2-col-33 {
  width: 33.333%;
}

.mq2-col-show {
  display: block;
}

.mq2-col-hide {
  display: none;
}

.mq3-col-100 {
  width: 100%;
}

.mq3-col-90 {
  width: 90%;
}

.mq3-col-80 {
  width: 80%;
}

.mq3-col-75 {
  width: 75%;
}

.mq3-col-70 {
  width: 70%;
}

.mq3-col-60 {
  width: 60%;
}

.mq3-col-50 {
  width: 50%;
}

.mq3-col-40 {
  width: 40%;
}

.mq3-col-30 {
  width: 30%;
}

.mq3-col-25 {
  width: 25%;
}

.mq3-col-20 {
  width: 20%;
}

.mq3-col-10 {
  width: 10%;
}

.mq3-col-66 {
  width: 66.666%;
}

.mq3-col-33 {
  width: 33.333%;
}

.mq3-col-show {
  display: block;
}

.mq3-col-hide {
  display: none;
}

.oldie .col-100 {
  width: 99.95%;
}

.oldie .col-75 {
  width: 74.95%;
}

.oldie .col-50 {
  width: 47.45%;
}

.oldie .col-25 {
  width: 19.95%;
}

.oldie .col-66 {
  width: 64.95%;
}

.oldie .col-33 {
  width: 29.55%;
}

.oldie .col-100 {
  width: 99.95%;
}

.oldie .col-90 {
  width: 90%;
}

.oldie .col-80 {
  width: 80%;
}

.oldie .col-75 {
  width: 74.95%;
}

.oldie .col-80 {
  width: 70%;
}

.oldie .col-80 {
  width: 60%;
}

.oldie .col-50 {
  width: 50%;
}

.oldie .col-80 {
  width: 40%;
}

.oldie .col-80 {
  width: 30%;
}

.oldie .col-25 {
  width: 25%;
}

.oldie .col-80 {
  width: 20%;
}

.oldie .col-80 {
  width: 10%;
}

.oldie .col-66 {
  width: 66.666%;
}

.oldie .col-33 {
  width: 33.333%;
}

.oldie .col-show {
  display: block;
}

.oldie .col-hide {
  display: none;
}

.oldie .mq1-col-100 {
  width: 99.95%;
}

.oldie .mq1-col-75 {
  width: 74.95%;
}

.oldie .mq1-col-50 {
  width: 47.45%;
}

.oldie .mq1-col-25 {
  width: 19.95%;
}

.oldie .mq1-col-66 {
  width: 64.95%;
}

.oldie .mq1-col-33 {
  width: 29.55%;
}

.oldie .mq1-col-100 {
  width: 99.95%;
}

.oldie .mq1-col-90 {
  width: 90%;
}

.oldie .mq1-col-80 {
  width: 80%;
}

.oldie .mq1-col-75 {
  width: 74.95%;
}

.oldie .mq1-col-80 {
  width: 70%;
}

.oldie .mq1-col-80 {
  width: 60%;
}

.oldie .mq1-col-50 {
  width: 50%;
}

.oldie .mq1-col-80 {
  width: 40%;
}

.oldie .mq1-col-80 {
  width: 30%;
}

.oldie .mq1-col-25 {
  width: 25%;
}

.oldie .mq1-col-80 {
  width: 20%;
}

.oldie .mq1-col-80 {
  width: 10%;
}

.oldie .mq1-col-66 {
  width: 66.666%;
}

.oldie .mq1-col-33 {
  width: 33.333%;
}

.oldie .mq1-col-show {
  display: block;
}

.oldie .mq1-col-hide {
  display: none;
}

.oldie .mq2-col-100 {
  width: 99.95%;
}

.oldie .mq2-col-75 {
  width: 74.95%;
}

.oldie .mq2-col-50 {
  width: 47.45%;
}

.oldie .mq2-col-25 {
  width: 19.95%;
}

.oldie .mq2-col-66 {
  width: 64.95%;
}

.oldie .mq2-col-33 {
  width: 29.55%;
}

.oldie .mq2-col-100 {
  width: 99.95%;
}

.oldie .mq2-col-90 {
  width: 90%;
}

.oldie .mq2-col-80 {
  width: 80%;
}

.oldie .mq2-col-75 {
  width: 74.95%;
}

.oldie .mq2-col-80 {
  width: 70%;
}

.oldie .mq2-col-80 {
  width: 60%;
}

.oldie .mq2-col-50 {
  width: 50%;
}

.oldie .mq2-col-80 {
  width: 40%;
}

.oldie .mq2-col-80 {
  width: 30%;
}

.oldie .mq2-col-25 {
  width: 25%;
}

.oldie .mq2-col-80 {
  width: 20%;
}

.oldie .mq2-col-80 {
  width: 10%;
}

.oldie .mq2-col-66 {
  width: 66.666%;
}

.oldie .mq2-col-33 {
  width: 33.333%;
}

.oldie .mq2-col-show {
  display: block;
}

.oldie .mq2-col-hide {
  display: none;
}

.oldie .mq3-col-100 {
  width: 99.95%;
}

.oldie .mq3-col-75 {
  width: 74.95%;
}

.oldie .mq3-col-50 {
  width: 47.45%;
}

.oldie .mq3-col-25 {
  width: 19.95%;
}

.oldie .mq3-col-66 {
  width: 64.95%;
}

.oldie .mq3-col-33 {
  width: 29.55%;
}

.oldie .mq3-col-100 {
  width: 99.95%;
}

.oldie .mq3-col-90 {
  width: 90%;
}

.oldie .mq3-col-80 {
  width: 80%;
}

.oldie .mq3-col-75 {
  width: 74.95%;
}

.oldie .mq3-col-80 {
  width: 70%;
}

.oldie .mq3-col-80 {
  width: 60%;
}

.oldie .mq3-col-50 {
  width: 50%;
}

.oldie .mq3-col-80 {
  width: 40%;
}

.oldie .mq3-col-80 {
  width: 30%;
}

.oldie .mq3-col-25 {
  width: 25%;
}

.oldie .mq3-col-80 {
  width: 20%;
}

.oldie .mq3-col-80 {
  width: 10%;
}

.oldie .mq3-col-66 {
  width: 66.666%;
}

.oldie .mq3-col-33 {
  width: 33.333%;
}

.oldie .mq3-col-show {
  display: block;
}

.oldie .mq3-col-hide {
  display: none;
}
