/*! sanitize.css | CC0 Public Domain | github.com/jonathantneal/sanitize.css */
/*
 * Normalization
 */
:root {
  -ms-overflow-style: -ms-autohiding-scrollbar;
  overflow-y: scroll;
  -webkit-text-size-adjust: 100%;
      -ms-text-size-adjust: 100%;
          text-size-adjust: 100%; }

audio:not([controls]) {
  display: none; }

details {
  display: block; }

input[type="number"] {
  width: auto; }

input[type="search"] {
  -webkit-appearance: textfield; }
  input[type="search"]::-webkit-search-cancel-button,
  input[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none; }

main {
  display: block; }

summary {
  display: block; }

pre {
  overflow: auto; }

progress {
  display: inline-block; }

small {
  font-size: 75%; }

template {
  display: none; }

textarea {
  overflow: auto; }

[hidden] {
  display: none; }

[unselectable] {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none; }

/*
 * Universal inheritance
 */
*,
::before,
::after {
  box-sizing: inherit; }

* {
  font-size: inherit;
  line-height: inherit; }

::before,
::after {
  text-decoration: inherit;
  vertical-align: inherit; }

/*
 * Opinionated defaults
 */
*,
::before,
::after {
  border-style: solid;
  border-width: 0; }

* {
  margin: 0;
  padding: 0; }

:root {
  box-sizing: border-box;
  cursor: default;
  font: 16px/1.5 sans-serif;
  text-rendering: optimizeLegibility; }

html {
  background-color: #FFFFFF; }

a {
  text-decoration: none; }

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle; }

button,
input,
select,
textarea {
  background-color: transparent; }

button,
input,
select,
textarea {
  color: inherit;
  font-family: inherit;
  font-style: inherit;
  font-weight: inherit; }

button,
[type="button"],
[type="date"],
[type="datetime"],
[type="datetime-local"],
[type="email"],
[type="month"],
[type="number"],
[type="password"],
[type="reset"],
[type="search"],
[type="submit"],
[type="tel"],
[type="text"],
[type="time"],
[type="url"],
[type="week"],
select,
textarea {
  min-height: 1.5em; }

code,
kbd,
pre,
samp {
  font-family: monospace, monospace; }

nav ol,
nav ul {
  list-style: none; }

select {
  -moz-appearance: none;
  -webkit-appearance: none; }
  select::-ms-expand {
    display: none; }
  select::-ms-value {
    color: currentColor; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

textarea {
  resize: vertical; }

::-moz-selection {
  background-color: #B3D4FC;
  text-shadow: none; }

::selection {
  background-color: #B3D4FC;
  text-shadow: none; }

@media screen {
  [hidden~="screen"] {
    display: inherit; }
  [hidden~="screen"]:not(:active):not(:focus):not(:target) {
    clip: rect(0 0 0 0) !important;
    position: absolute !important; } }

html {
  background-color: #f6f6f6; }

body {
  background-color: transparent;
  color: #333;
  font-family: Georgia, "Times New Roman", serif; }

a {
  color: #6C719E;
  -webkit-transition: color 0.1s, background-color 0.2s;
          transition: color 0.1s, background-color 0.2s;
  text-decoration: none; }

h1,
.alpha {
  font-size: 38px; }

h2,
.beta {
  font-size: 32px; }

h3,
.gamma {
  font-size: 26px; }

h4,
.delta {
  font-size: 21px; }

h5,
.epsilon {
  font-size: 18px; }

h6,
.zeta {
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 0.2em; }

h1 + p,
h1 + form,
h1 + ul,
h1 + ol, h2 + p,
h2 + form,
h2 + ul,
h2 + ol, h3 + p,
h3 + form,
h3 + ul,
h3 + ol, h4 + p,
h4 + form,
h4 + ul,
h4 + ol, h5 + p,
h5 + form,
h5 + ul,
h5 + ol, h6 + p,
h6 + form,
h6 + ul,
h6 + ol {
  margin-top: 0; }

h1 + img, h2 + img, h3 + img, h4 + img, h5 + img, h6 + img {
  margin-top: 1em; }

.left {
  float: left; }

.right {
  float: right; }

.center {
  margin-left: auto;
  margin-right: auto; }

.text-left {
  text-align: left; }

.text-right {
  text-align: right; }

.text-center {
  text-align: center; }

.cover {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0; }

.nav li {
  display: inline; }
  .nav li a {
    display: inline-block; }

.hide-text {
  overflow: hidden;
  text-indent: 100%;
  white-space: nowrap; }

.clearfix {
  *zoom: 1; }
  .clearfix:before,
  .clearfix:after {
    content: '';
    display: table; }
  .clearfix:after {
    clear: both; }

* {
  box-sizing: border-box; }

img {
  max-width: 100%;
  height: auto; }

.wrapper {
  max-width: 1180px;
  margin: 0 auto; }

.grids {
  overflow: hidden;
  clear: both;
  margin-left: -3em; }
  .grids > * {
    width: 100%;
    float: left;
    padding-left: 3em; }
    .grids > * *:first-child {
      margin-top: 0; }

.half-gutter {
  margin-left: -1.5em; }
  .half-gutter > * {
    padding-left: 1.5em; }

.alignnone {
  margin: 0.25em 1em 1em 0; }

.aligncenter {
  display: block;
  margin: 0.25em auto 0.25em auto; }

.alignleft {
  float: left;
  margin: 0.25em 1em 1em 0; }

.alignright {
  float: right;
  margin: 0.25em 0 1em 1em; }

.wp-caption {
  max-width: 96%;
  padding: 0.25 0.25em 0.75em;
  background: #fff;
  border: 1px solid #f0f0f0;
  text-align: center; }
  .wp-caption.alignnone {
    margin: 0.25em 1em 1em 0; }
  .wp-caption.alignleft {
    margin: 0.25em 1em 1em 0; }
  .wp-caption.alignright {
    margin: 0.25em 0 1em 1em; }
  .wp-caption img {
    width: auto;
    height: auto;
    margin: 0;
    padding: 0;
    border: 0 none; }
  .wp-caption p.wp-caption-text {
    margin: 0;
    padding: 0 0.25em 0.25em;
    font-size: 0.75em;
    line-height: 1em; }

@media (min-width: 481px) {
  .column-100 {
    width: 100%; }
  .column-90 {
    width: 90%; }
  .column-80 {
    width: 80%; }
  .column-75 {
    width: 75%; }
  .column-70 {
    width: 70%; }
  .column-66 {
    width: 66.666%; }
  .column-60 {
    width: 60%; }
  .column-50 {
    width: 50%; }
  .column-40 {
    width: 40%; }
  .column-33 {
    width: 33.333%; }
  .column-30 {
    width: 30%; }
  .column-25 {
    width: 25%; }
  .column-20 {
    width: 20%; }
  .column-10 {
    width: 10%; }
  .column-show {
    display: block; }
  .column-hide {
    display: none; }
  .mobile-only {
    display: none; } }

@media (min-width: 769px) {
  .mq1-column-100 {
    width: 100%; }
  .mq1-column-90 {
    width: 90%; }
  .mq1-column-80 {
    width: 80%; }
  .mq1-column-75 {
    width: 75%; }
  .mq1-column-70 {
    width: 70%; }
  .mq1-column-66 {
    width: 66.666%; }
  .mq1-column-60 {
    width: 60%; }
  .mq1-column-50 {
    width: 50%; }
  .mq1-column-40 {
    width: 40%; }
  .mq1-column-33 {
    width: 33.333%; }
  .mq1-column-30 {
    width: 30%; }
  .mq1-column-25 {
    width: 25%; }
  .mq1-column-20 {
    width: 20%; }
  .mq1-column-10 {
    width: 10%; }
  .mq1-column-show {
    display: block; }
  .mq1-column-hide {
    display: none; } }

@media (min-width: 1025) {
  .mq2-column-100 {
    width: 100%; }
  .mq2-column-90 {
    width: 90%; }
  .mq2-column-80 {
    width: 80%; }
  .mq2-column-75 {
    width: 75%; }
  .mq2-column-70 {
    width: 70%; }
  .mq2-column-66 {
    width: 66.666%; }
  .mq2-column-60 {
    width: 60%; }
  .mq2-column-50 {
    width: 50%; }
  .mq2-column-40 {
    width: 40%; }
  .mq2-column-33 {
    width: 33.333%; }
  .mq2-column-30 {
    width: 30%; }
  .mq2-column-25 {
    width: 25%; }
  .mq2-column-20 {
    width: 20%; }
  .mq2-column-10 {
    width: 10%; }
  .mq2-column-show {
    display: block; }
  .mq2-column-hide {
    display: none; } }

@media (min-width: 1200px) {
  .mq3-column-100 {
    width: 100%; }
  .mq3-column-90 {
    width: 90%; }
  .mq3-column-80 {
    width: 80%; }
  .mq3-column-75 {
    width: 75%; }
  .mq3-column-70 {
    width: 70%; }
  .mq3-column-66 {
    width: 66.666%; }
  .mq3-column-60 {
    width: 60%; }
  .mq3-column-50 {
    width: 50%; }
  .mq3-column-40 {
    width: 40%; }
  .mq3-column-33 {
    width: 33.333%; }
  .mq3-column-30 {
    width: 30%; }
  .mq3-column-25 {
    width: 25%; }
  .mq3-column-20 {
    width: 20%; }
  .mq3-column-10 {
    width: 10%; }
  .mq3-column-show {
    display: block; }
  .mq3-column-hide {
    display: none; } }

/*# sourceMappingURL=main.css.map */