/*! sanitize.css | CC0 Public Domain | github.com/jonathantneal/sanitize.css */
/*
 * Normalization
 */
:root {
  -ms-overflow-style: -ms-autohiding-scrollbar;
  overflow-y: scroll;
  -webkit-text-size-adjust: 100%;
      -ms-text-size-adjust: 100%;
          text-size-adjust: 100%; }

audio:not([controls]) {
  display: none; }

details {
  display: block; }

input[type="number"] {
  width: auto; }

input[type="search"] {
  -webkit-appearance: textfield; }
  input[type="search"]::-webkit-search-cancel-button,
  input[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none; }

main {
  display: block; }

summary {
  display: block; }

pre {
  overflow: auto; }

progress {
  display: inline-block; }

small {
  font-size: 75%; }

template {
  display: none; }

textarea {
  overflow: auto; }

[hidden] {
  display: none; }

[unselectable] {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none; }

/*
 * Universal inheritance
 */
*,
::before,
::after {
  box-sizing: inherit; }

* {
  font-size: inherit;
  line-height: inherit; }

::before,
::after {
  text-decoration: inherit;
  vertical-align: inherit; }

/*
 * Opinionated defaults
 */
*,
::before,
::after {
  border-style: solid;
  border-width: 0; }

* {
  margin: 0;
  padding: 0; }

:root {
  box-sizing: border-box;
  cursor: default;
  font: 16px/1.625 Georgia, "Times New Roman", serif;
  text-rendering: optimizeLegibility; }

html {
  background-color: #f6f6f6; }

a {
  text-decoration: none; }

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle; }

button,
input,
select,
textarea {
  background-color: transparent; }

button,
input,
select,
textarea {
  color: inherit;
  font-family: inherit;
  font-style: inherit;
  font-weight: inherit; }

button,
[type="button"],
[type="date"],
[type="datetime"],
[type="datetime-local"],
[type="email"],
[type="month"],
[type="number"],
[type="password"],
[type="reset"],
[type="search"],
[type="submit"],
[type="tel"],
[type="text"],
[type="time"],
[type="url"],
[type="week"],
select,
textarea {
  min-height: 1.625em; }

code,
kbd,
pre,
samp {
  font-family: monospace, monospace; }

nav ol,
nav ul {
  list-style: none; }

select {
  -moz-appearance: none;
  -webkit-appearance: none; }
  select::-ms-expand {
    display: none; }
  select::-ms-value {
    color: currentColor; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

textarea {
  resize: vertical; }

::-moz-selection {
  background-color: #B3D4FC;
  text-shadow: none; }

::selection {
  background-color: #B3D4FC;
  text-shadow: none; }

@media screen {
  [hidden~="screen"] {
    display: inherit; }
  [hidden~="screen"]:not(:active):not(:focus):not(:target) {
    clip: rect(0 0 0 0) !important;
    position: absolute !important; } }

body {
  background-color: transparent;
  color: #333; }

a {
  color: #6C719E;
  -webkit-transition: color 0.1s, background-color 0.2s;
          transition: color 0.1s, background-color 0.2s;
  text-decoration: none; }

h1,
.alpha {
  font-size: 38px; }

h2,
.beta {
  font-size: 32px; }

h3,
.gamma {
  font-size: 26px; }

h4,
.delta {
  font-size: 21px; }

h5,
.epsilon {
  font-size: 18px; }

h6,
.zeta {
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 0.2em; }

h1 + p,
h1 + form,
h1 + ul,
h1 + ol, h2 + p,
h2 + form,
h2 + ul,
h2 + ol, h3 + p,
h3 + form,
h3 + ul,
h3 + ol, h4 + p,
h4 + form,
h4 + ul,
h4 + ol, h5 + p,
h5 + form,
h5 + ul,
h5 + ol, h6 + p,
h6 + form,
h6 + ul,
h6 + ol {
  margin-top: 0; }

h1 + img, h2 + img, h3 + img, h4 + img, h5 + img, h6 + img {
  margin-top: 1em; }

/*# sourceMappingURL=print.css.map */