body {
	background-color: map-get( $strang-colors, body );
	color: map-get( $strang-colors, font );
}

a {
	color: map-get( $strang-colors, brand3 );
	
	transition: color 0.1s, background-color 0.2s;
	text-decoration: none;
}

h1,
.alpha {
	font-size: map-get( $strang-fonts, size1 ) * 1px;
}

h2,
.beta {
	font-size: map-get( $strang-fonts, size2 ) * 1px;
}

h3,
.gamma {
	font-size: map-get( $strang-fonts, size3 ) * 1px;
}

h4,
.delta {
	font-size: map-get( $strang-fonts, size4 ) * 1px;
}

h5,
.epsilon {
	font-size: map-get( $strang-fonts, size5 ) * 1px;
}

h6,
.zeta {
	font-size: map-get( $strang-fonts, size6 ) * 1px;
	text-transform: uppercase;
	letter-spacing: 0.2em;
}

h1, h2, h3, h4, h5, h6 {
	+ p,
	+ form,
	+ ul,
	+ ol {
		margin-top: 0;
	}
	
	+ img {
		margin-top: 1em;
	}
}