@include establish-baseline;

html {
	background-color: map-get( $strang-colors, html );
}

body {
	background-color: map-get( $strang-colors, body );
	color: map-get( $strang-colors, font );
	font-family: Georgia, "Times New Roman", serif;
	
	&.debug {
		@include debug-vertical-alignment;
	}
}

a {
	@include link-colors(
		map-get( $strang-colors, brand3 ),
		shade( map-get( $strang-colors, brand3 ), 25 ),
		shade( map-get( $strang-colors, brand3 ), 50 ),
		map-get( $strang-colors, brand3 )
	);
	
	@include transition( color 0.1s, background-color 0.2s );
	
	text-decoration: none;
}

h1,
.alpha {
	@include adjust-font-size-to( map-get( $strang-fonts, size1 ) * 1px );
}

h2,
.beta {
	@include adjust-font-size-to( map-get( $strang-fonts, size2 ) * 1px );
}

h3,
.gamma {
	@include adjust-font-size-to( map-get( $strang-fonts, size3 ) * 1px );
}

h4,
.delta {
	@include adjust-font-size-to( map-get( $strang-fonts, size4 ) * 1px );
}

h5,
.epsilon {
	@include adjust-font-size-to( map-get( $strang-fonts, size5 ) * 1px );
}

h6,
.zeta {
	@include adjust-font-size-to( map-get( $strang-fonts, size6 ) * 1px + 1px );
	text-transform: uppercase;
	letter-spacing: 0.2em;
}

h2, h3, h4, h5, h6 {
	& + p,
	& + form,
	& + ul,
	& + ol {
		margin-top: 0;
	}
}

h1, h2, h3, h4, h5, h6 {
	+ img {
		@include margin-leader;
	}
}

.eta {
	font-size: em( map-get( $strang-fonts, size5 ), map-get( $strang-fonts, base ) );
	line-height: em( 21, map-get( $strang-fonts, size5 ) );

}

.theta {
	font-size: em( map-get( $strang-fonts, size6 ), map-get( $strang-fonts, base ) );
	line-height: em( 16, map-get( $strang-fonts, size6 ) );
}